<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="key_search" value="npp_path,bcomp_path" />
    <add key="npp_path1" value="C:\Program Files\Notepad++\Notepad++.exe" />
	<add key="npp_path2" value="C:\Program Files (x86)\Notepad++\notepad++.exe" />
    <add key="npp_path3" value="C:\TJBF\zPortableInstalls\NotePadPP\Notepad++Portable.exe" />
	<add key="npp_path4" value="..\..\NotepadPP\Notepad++Portable.exe" />
	<add key="bcomp_path1" value="C:\Program Files\Beyond Compare 4\BCompare.exe" />
	<add key="bcomp_path2" value="..\..\BeyondCompare\BCompare.exe" />
	<add key="bcomp_path3" value="C:\TJBF\zPortableInstalls\BeyondCompare\BCompare.exe" />
  </appSettings>
</configuration>